*{
  font-family: 'Yeon Sung', cursive;
}

#everything{
  background-image: url("https://cdn.pixabay.com/photo/2013/07/18/20/26/pink-164999_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rules{
  border: 2px solid black;
  color: red;
  text-align: center;
}

.singleRule{
  color: blue
}

#gameboard{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: pink; */
  /* background-color: #ca89d9; */
}

td{
  background-color: rgba(202, 137, 217, 1);
  border: 1px solid black;
  font-size: 50px;
  height: 75px;
  width: 75px;
}
