/* CSS Cascading Stylesheet */

/* CSS Rule */
/* selector {
  property: value;
} */

/* style all tags */
* {
  font-family: 'Lobster Two', cursive;
}

/* style html */ 
body {
  background-color: rgb(146, 120, 170);
  text-align: center;
}

/* style id */
#subheader {
  color: aquamarine;
}

/* style class */
.line-items {
  font-size: 20px;
  padding: 6px;
  /* remove built-in styling */
  list-style-type: none;
}


/* button styling */
button {
  font-size: 20px;
  background-color: black;
  color: white;
  border-color: aquamarine;
  border-width: 6px;
  border-radius: 10px;
}

/* button hover effect */
button:hover, button:focus, button:active {
  /* swap colors */
  background-color: aquamarine;
  font-size: 30px;
  color: black;
  /* displays a hand */
  cursor: pointer; 
}

/* dice rotate animation */
#dice-image {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 4;
} 
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}